<app-navbar></app-navbar>


<br>
<div class="accordion-container">
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <strong>Sobre nosotros</strong>
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Nuestra Institución nace en 1989 como el “Centro de Atención Psicológica y Psicopedagógica” ante la
                creciente demanda de espacios de diagnóstico e intervención psicológica en niños con dificultades de
                aprendizaje.<br><br>
                Actualmente y desde abril del 2009 somos orgullosamente el Instituto de Nuropsicología Clínica, con una
                importante ampliación y extensión de nuestros servicios.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <strong>Objetivos</strong>
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Otorgar servicios pedagógicos, psicológicos, neuropsicológicos y de neurodesarrollo, dirigidos
                respectivamente a bebés, niños, jóvenes y adultos.<br><br>

                Brindar asesoría sobre el desarrollo infantil a padres, adultos cuidadores que tienen niños a su
                cargo.<br><br>

                Facilitar la capacitación y actualización a los profesionales vinculados con la educación y el
                desarrollo infantil desde la óptica de disciplinas como la psicología, la pedagogía, la neuropsicología
                y el neurodesarrollo.<br><br>

                Establecer vínculos de colaboración interinstitucional con escuelas y universidades.<br><br>

                Desarrollo de investigación sobre el neurodesarrollo y neuropsicología del desarrollo normal y con
                alteraciones
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <strong>SAIE</strong>
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Este servicio está destinado a niños, niñas y adolescentes en edad escolar que, contando con apoyos
                personalizados, adecuados a sus necesidades individuales, ven favorecida su trayectoria educativa. Es
                una propuesta de aprendizaje acompañada en la cual se planifican, articulan e implementan una serie de
                estrategias terapéutico-educativas con el fin de promover experiencias funcionales, en busca de una
                genuina inclusión educativa.<br><br>

                El SAIE entendido como un abordaje que promueve la autonomía y la inclusión social es representado
                dentro de la escuela por medio de la función del acompañante y constituye una opción a la que todo niño,
                niña o adolescente con discapacidad tiene derecho. <br><br>
                El servicio consiste en el acompañamiento de un profesional especializado que lleva a cabo estrategias
                terapéutico-educativas tendientes a brindar respuesta a la diversidad. Puede ser solicitado por la
                familia, la escuela, la obra social y/o el equipo médico/terapéutico que asiste al alumno y alumna.<br><br>

                La inclusión escolar no es uniforme ya que no hay una sola forma de incluir. Es un proceso que se da en
                articulación entre la familia, la escuela común, la escuela especial, los equipos terapéuticos y el
                equipo del SAIE.
            </div>
        </div>
    </div>
</div>
</div>