<app-navbar></app-navbar>

<div class="container mt-5 text-center">
    <span class="title">{{title}}</span>
    <button class="btn btn-success float-end" routerLink="/crear-profesional">NUEVO</button>
</div>

<div class="container mt-5">
    <div class="table-responsive">
        <table class="table table-striped mt-5 mx-auto">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Título</th>
            <th scope="col">Contácto</th>
            <th scope="col">Pacientes</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Andrés Gonzalez</th>
            <td>Psicólogo</td>
            <td>1365479</td>
            <td>Ana Ana</td>
            <td><i class=" fas fa-solid fa-pen-to-square text-primary"></i><i class="fas fa-solid fa-trash text-danger"></i></td>
        </tr>
        <tr>
            <th scope="row">Loana Heredia</th>
            <td>Psicopedagoga</td>
            <td>65491951</td>
            <td>ana ana</td>
            <td><i class=" fas fa-solid fa-pen-to-square text-primary"></i><i class=" fas fa-solid fa-trash text-danger"></i></td>
        </tr>
    </tbody>
</table>
